*{
	margin: 0px;
	padding: 0px;
}

body{
	/* background-color: black; */
}

.changes-password{
	/* width: 500px; */
	text-align: center;
	margin: 0 auto;
	/* background-color: red; */
	padding-top: 55px;
}



.password-box{
	width: 349px;
	text-align: center;
	margin: 0 auto;
	padding: 7px 16px;
	background: white;
}

.password-box h1{
	 padding: 0px 0px;
    font-size: 25px;
}


.password-box form{
	padding: 8px;
    text-align: left;
}

.password-box form label{
	font-size: 18px;
    font-weight: 700;
}

.password-box form input{
	width: 100%;
	padding: 5px 5px;
	box-sizing: border-box;
	font-size: 16px;
	margin-bottom: 3px;
	border: 1px solid;
}
