*{
	margin: 0px;
	padding: 0px;
}

body{
    background-color: black;
}

.signup-section{
    /* width: 500px; */
    text-align: center;
    margin: 0 auto;
    /* background-color: red; */
    padding-top: 55px;
}

.signup-box{
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 28px 18px;
    background: white;
}

.signup-box h1{
    padding: 0px 0px;
    font-size: 25px;
}

.signup-box form{
    padding: 8px;
    text-align: left;
}

.signup-box form label{
    font-size: 18px;
    font-weight: 700;
}

.signup-box form input{
	width: 100%;
	padding: 5px 5px;
	box-sizing: border-box;
	font-size: 16px;
	margin-bottom: 3px;
	border: 1px solid;
}

.signup-box form p{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.signup-box form p a{
    text-decoration: none;
}